In [1]:
import pandas as pd

In [20]:
dataset = pd.read_csv(r'D:\Streamlit_projects\Datasets\Prueba_Streamlit_Nuevo.csv', sep=',', encoding='latin-1')

In [21]:
dataset.head(5)

,Marca temporal,Fecha,Nombres,Facturado,Presupuesto,Ciudad,Puntuación,Latitud,Longitud
0,8/4/2022 16:34:26,1/08/2022,Carlos Ardila,50000.0,100000.0,Bucaramanga,NaN,7.1186,-73.1161
1,8/4/2022 16:35:21,1/08/2022,Juan Lopez,70000.0,100000.0,Bucaramanga,NaN,7.1186,-73.1161
2,8/4/2022 16:35:54,1/08/2022,Rosa Cardenas,45000.0,100000.0,Bucaramanga,NaN,7.1186,-73.1161
3,8/4/2022 16:48:08,1/08/2022,Pedro Ruiz,80000.0,100000.0,Barrancabermeja,NaN,7.0675,-73.8472
4,8/4/2022 16:48:44,1/08/2022,Luisa Perez,85000.0,100000.0,Barrancabermeja,NaN,7.0675,-73.8472

In [22]:
dataset['Latitud'].dtype

dtype('float64')

In [14]:
dataset['Facturado'] = dataset['Facturado'].replace('$50000','50000') # con el metodo replace podemos reemplazar caracteres

In [18]:
dataset['Latitud']

8/4/2022 16:34:26  1/08/2022   -73.0
8/4/2022 16:35:21  1/08/2022   -73.0
8/4/2022 16:35:54  1/08/2022   -73.0
8/4/2022 16:48:08  1/08/2022   -73.0
8/4/2022 16:48:44  1/08/2022   -73.0
                                ...
NaN                NaN           NaN
                   NaN           NaN
                   NaN           NaN
                   NaN           NaN
                   NaN           NaN
Name: Latitud, Length: 143, dtype: float64

In [ ]:
# En esta linea de codigo dividimos la columna (duration) en 2 tipos, una tipo numerica y otra string
dataset[['simbolo','Facturado_1']] = dataset['Facturado'].str.split(expand=True)

In [ ]:
dataset['Latitud'] = dataset['Latitud'].replace(',','.') # con el metodo replace podemos reemplazar caracteres